Bot/Workflows/GenerateanswersusingQnAMakerknowledgebasefromPower-10159EDD-A8CB-EB11-BACC-002248238147.json
{"properties":{"connectionReferences":{"shared_cognitiveservicesqnamaker":{"runtimeSource":"embedded","connection":{},"api":{"name":"shared_cognitiveservicesqnamaker"}}},"definition":{"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$connections":{"defaultValue":{},"type":"Object"},"$authentication":{"defaultValue":{},"type":"SecureObject"}},"triggers":{"manual":{"type":"Request","kind":"VirtualAgent","inputs":{"schema":{"type":"object","properties":{"text":{"title":"InputText","type":"string","x-ms-dynamically-added":true,"description":"Incoming user question","x-ms-content-hint":"TEXT"}},"required":["text"]}}}},"actions":{"Return_value(s)_to_Power_Virtual_Agents":{"runAfter":{"Apply_to_each":["Succeeded"]},"type":"Response","kind":"VirtualAgent","inputs":{"statusCode":200,"body":{"finalanswer":"@variables('QnAAnswer')"},"schema":{"type":"object","properties":{"finalanswer":{"title":"FinalAnswer","x-ms-dynamically-added":true,"type":"string"}}}}},"Generate_answer":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_cognitiveservicesqnamaker","connectionName":"shared_cognitiveservicesqnamaker","operationId":"GenerateAnswer"},"parameters":{"KnowledgeBaseId":"4c7a43ff-243b-4ac0-bae5-b8de3364927f","ServiceHost":"https://whyseshepherd.azurewebsites.net/qnamaker","EndpointKey":"2f2b8088-a86b-4118-a33f-c4e2bdef0817","body/question":"@triggerBody()['text']","body/top":1},"authentication":"@parameters('$authentication')"}},"Initialize_variable":{"runAfter":{"Generate_answer":["Succeeded"]},"type":"InitializeVariable","inputs":{"variables":[{"name":"QnAAnswer","type":"string"}]}},"Apply_to_each":{"foreach":"@outputs('Generate_answer')?['body/answers']","actions":{"Set_variable":{"runAfter":{},"type":"SetVariable","inputs":{"name":"QnAAnswer","value":"@items('Apply_to_each')?['answer']"}}},"runAfter":{"Initialize_variable":["Succeeded"]},"type":"Foreach"}},"outputs":{}}},"schemaVersion":"1.0.0.0"}